@font-face {
  font-family: 'Open Sans';
  src: fnt-url('opensans-regular.woff2') format('woff2'),
       fnt-url('opensans-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: fnt-url('opensans-semibold.woff2') format('woff2'),
       fnt-url('opensans-semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}
